// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';




.step-progressbar {
  list-style:none;
  counter-reset: step;
  display: flex;
  padding: 0;
  
  &__item {
    display: flex;
    flex-direction: column;
    flex: 1;
    text-align: center;
    position: relative;
    
    &:before {
      width: 3em;
      height: 3em;
      content: counter(step);
      counter-increment: step;
      align-self: center;
      background: #999;
      color: #fff;
      border-radius: 100%;
      line-height: 3em;
      margin-bottom: .5em;
    }
    
    &:after {
      height: 2px;
      width: calc(100% - 4em);
      content: '';
      background: #999;
      position: absolute;
      top: 1.5em;
      left: calc(50% + 2em);
    }
    
    &:last-child {
      &:after {
        content: none;
      }
    }
    
    &--active {
      &:before {
        background: #000;
      }
    }
    
    &--complete {
      &:before {
        content: '✔';
      }
    }
  }
}


